html,
body {
    height: 100%;
}
body {
    font-size: 100%;
    line-height: 1.5;
    font-family: sans-serif;
    background: #adceca;
    color: #444;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
.group:after {
    content: "";
    display: table;
    clear: both;
}
a {
    text-decoration: none;
}
.calendar-wrapper {
    width: 360px;
    margin: 3em auto;
    padding: 2em;
    border: 1px solid #dcdcff;
    border-radius: 5px;
    background: #fff;
}
table {
    clear: both;
    width: 100%;
    border: 1px solid #dcdcff;
    border-radius: 3px;
    border-collapse: collapse;
    color: #444;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
td {
    height: 48px;
    text-align: center;
    vertical-align: middle;
    border-right: 1px solid #dcdcff;
    border-top: 1px solid #dcdcff;
    width: 14.28571429%;
}
.days td{
    height: 48px;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    border-right: 1px solid #dcdcff;
    border-top: 1px solid #dcdcff;
    width: 14.28571429%;
}
.cal-kodim-head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
td.not-current {
    color: #ebebeb;
}
td.normal {cursor: pointer}
td.today {
    font-weight: 500;
    color: #28283b;
    font-size: 1.5em;
    background: #ffffb8;
}
td.c-weekend{
    pointer-events: none;
    color: red;
}
td.c-past-days{
    pointer-events: none;
    color: #b7b7b2;
}
td.c-selected-days{
    background: #90dfff;
}

thead td {
    border: none;
    color: #28283b;
    text-transform: uppercase;
    font-size: 1.5em;
}
